# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# figures
*.tif
*.tiff
*.raw
*.mp4
*.hdf5
*.hdf
*.png
*.pth
*.yaml
*.onnx
*.pyc


# Derived content-obscured files
*.p

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.backup
*.sbproj.bak
